// Mixins         : .make-md-column(3);
// Extends        : &:extend(.img-responsive);
// Media Queries  : @media (min-width: @screen-sm-min) {}

main.home {
  @extend .container;
}

.home-header {
  @extend .jumbotron;
  padding: 30px 15px;
  margin-top: 30px;

  @include media-breakpoint-up(md) {
    padding: 48px 60px;
  }
}

.home-content {
  @extend .d-flex, .text-center, .text-muted;
}

.home-content-text {
  @extend .col-12, .col-md-4;
}
