{
  "parser": "babel-eslint",
  "parserOptions": {
    "allowImportExportEverywhere": true
  },
  "plugins": [
    "meteor"
  ],
  "extends": [
    "plugin:meteor/recommended",
    "standard"
  ],
  "settings": {
    "import/resolver": "meteor"
  },
  "rules": {
    // Meteor rule changes
    "meteor/audit-argument-checks": "off",
    "meteor/eventmap-params": "off",
    "meteor/no-session": "off",

    // Standard rule changes
    "space-before-function-paren": [
      "error",
      {
        "anonymous": "always",
        "named": "never",
        "asyncArrow": "always"
      }
    ]
  },
  "globals": {
    "$": "readonly",
    "Assets": "readonly"
  },
  "overrides": [
    {
      "files": ["tests/**/*.js"],
      "globals": {
        "$$": "readonly",
        "browser": "readonly",
        "server": "readonly",
        "assert": "readonly",
        "describe": "readonly",
        "it": "readonly",
        "before": "readonly",
        "after": "readonly",
        "beforeEach": "readonly",
        "afterEach": "readonly"
      }
    }
  ]
}
