<template name="header">
  <header>
    {{> navigationMain}}
  </header>
</template>

<template name="navigationMain">
  <nav class="navbar navbar-expand-xl navbar-light bg-light navigations-main">
    <div class="container-fluid navigations-main-container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <a class="navbar-brand navigations-main-header-brand" href="{{pathFor '/'}}">{{_ 'header.brand' }}</a>
      <button type="button" class="navbar-toggler navbar-toggler-right navigations-main-header-menu-icon" data-toggle="collapse" data-target="#navbarSupportedContent" aria-expanded="false">
        <span class="sr-only">{{_ 'header.menuIcon' }}</span>
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navigations-main-navbar" id="navbarSupportedContent">
        <ul class="navbar-nav navigations-main-navbar-list">
          <li class="navbar-item navigations-main-navbar-item {{isActiveRoute 'home'}}">
            <a class="nav-link navigations-main-navbar-link" href="{{pathFor '/' }}">
              <i class="fa fa-home"></i> {{_ 'header.navbarLinkHome' }} <span class="sr-only">({{_ 'header.navbarLinkCurrent' }})</span>
            </a>
          </li>
          <li class="navbar-item navigations-main-navbar-item dropdown navigations-main-navbar-dropdown">
            <a href="#" class="nav-link dropdown-toggle navigations-main-navbar-link navigations-main-navbar-link-dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{_ 'header.navbarLinkDropdown' }} <span class="caret"></span></a>
            <ul class="dropdown-menu mb-3 mb-xl-0 navigations-main-navbar-link-dropdown-list">
              <li class="dropdown-item navigations-main-navbar-link-dropdown-item">
                <a class="navigations-main-navbar-link-dropdown-link" href="#">
                  {{_ 'header.navbarLinkDropdownOptionOne' }}
                </a>
              </li>
              <li class="dropdown-item navigations-main-navbar-link-dropdown-item">
                <a class="navigations-main-navbar-link-dropdown-link" href="#">
                  {{_ 'header.navbarLinkDropdownOptionTwo' }}
                </a>
              </li>
              <li class="dropdown-item navigations-main-navbar-link-dropdown-item">
                <a class="navigations-main-navbar-link-dropdown-link" href="#">
                  {{_ 'header.navbarLinkDropdownOptionThree' }}
                </a>
              </li>
              <li role="separator" class="dropdown-divider navigations-main-navbar-link-dropdown-divider"></li>
              <li class="dropdown-item navigations-main-navbar-link-dropdown-item">
                <a class="navigations-main-navbar-link-dropdown-link" href="#">
                  {{_ 'header.navbarLinkDropdownOptionFour' }}
                </a>
              </li>
              <li role="separator" class="dropdown-divider navigations-main-navbar-link-dropdown-divider"></li>
              <li class="dropdown-item navigations-main-navbar-link-dropdown-item">
                <a class="navigations-main-navbar-link-dropdown-link" href="#">
                  {{_ 'header.navbarLinkDropdownOptionFive' }}
                </a>
              </li>
            </ul>
          </li>
        </ul>
        <form class="form-inline navigations-main-navbar-form" role="search">
          <input type="text" class="form-control ml-xl-4 navigations-main-navbar-form-control" placeholder="{{_ 'header.navbarSearchPlaceholder' }}">
          <button type="submit" class="btn btn-outline-success ml-xl-1 navigations-main-navbar-form-button">{{_ 'header.navbarSearchButton' }}</button>
        </form>
        <ul class="navbar-nav ml-auto navigations-main-navbar-list">
          <li class="navbar-item navigations-main-navbar-item">
            <a class="nav-link navigations-main-navbar-link" href="https://github.com/2Associes/meteor-boilerplate">
              GitHub
            </a>
          </li>
          {{#if currentUser}}
          <li class="navbar-item navigations-main-navbar-item dropdown navigations-main-navbar-dropdown">
            <a id="current-user-username" href="#" class="nav-link dropdown-toggle navigations-main-navbar-link navigations-main-navbar-link-dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              {{_ 'header.navbarGreetings' }} {{currentUserIdentity}} <span class="caret"></span>
            </a>
            <ul class="dropdown-menu mb-3 mb-xl-0 navigations-main-navbar-link-dropdown-list">
              <li class="dropdown-item navigations-main-navbar-link-dropdown-item">
                <a class="navigations-main-navbar-link-dropdown-link" href="#">
                  {{_ 'header.navbarProfile' }}
                </a>
              </li>
              <li class="dropdown-item navigations-main-navbar-link-dropdown-item">
                <a class="navigations-main-navbar-link-dropdown-link" href="#">
                  {{_ 'header.navbarSettings' }}
                </a>
              </li>
              {{#if isInRole 'admin' 'default-group'}}
                <li class="dropdown-item navigations-main-navbar-link-dropdown-item">
                  <a class="navigations-main-navbar-link-dropdown-link" href="{{pathFor 'adminStyleGuide'}}">
                    {{_ 'header.navbarStyleGuide' }}
                  </a>
                </li>
                <li class="dropdown-item navigations-main-navbar-link-dropdown-item">
                  <a class="navigations-main-navbar-link-dropdown-link" href="{{pathFor 'adminHome'}}">
                    {{_ 'header.navbarAdmin' }}
                  </a>
                </li>
              {{/if}}
            </ul>
          </li>
          {{/if}}
          <li class="navbar-item navigations-main-navbar-item">
            {{> atNavButton}}
          </li>
          <li class="navbar-item navigations-main-navbar-item">
            {{> languageSwitcher}}
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
</template>
