.features-reactive-form-container {
  @extend .container;

  padding-bottom: 30px;
  padding-top: 30px;
}

.features-reactive-form-title {
  margin-bottom: 15px;
  margin-top: 30px;
}

.features-reactive-form-main-title {
  @extend .features-reactive-form-title;

  margin-top: 0;
}

.features-reactive-form-code {
  background-color: $gray-100;
  padding: 15px;
}
