<template name="navigationsMain">
  <nav class="navigations-main">
    <ul class="navigations-main-list">
      <li class="navigations-main-item">
        <a class="navigations-main-hyperlink" href="/">
          Home
        </a>
      </li>
      <li class="navigations-main-item">
        <a class="navigations-main-hyperlink" href="/404">
          404
        </a>
      </li>
      <li class="navigations-main-item">
        <a class="navigations-main-hyperlink" href="https://github.com/2Associes/meteor-boilerplate">
          GitHub
        </a>
      </li>
    </ul>
  </nav>
</template>
